.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
/* .signinform{
  margin-top:25vh;
} */
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.firstPageButtons{
  
  margin:auto;
  
}
/* .RefugeeSignIn{
   background-image: url("images/refugee_doctor.jpg");
   background-size:contain;
   background-repeat: no-repeat;
   background-size: 100% 100%;
} */
 .cartoonpage{
  /* background-image: url("images/collage.jpg");
 background-size: 200px;
  background-repeat:no-repeat; */

} 
.fontred{
  color: rgb(243, 7, 7);
  font-size: 125%;
  font-weight: bold;
}

.tickicon{
  font-size:45px;
}

.container{
  padding: 0%;
}

.prescription{
  background-image: url("images/doctor.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  height:35%;
}
.scrollablediv{
  margin-top: 10px;
  overflow-y: scroll;
  height:350px;
}
.frontpagebuttons{
  margin-top:0;
}

.bg-primary-frontpage{
  background-color:  #3b5998;
}

.addbutton{
  color: #027424;
  font-size:50px;
}

.subbutton{
  color: #e62107;
  font-size:50px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
